@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter'
}
 


header {
     display: flex;
    justify-content: center; 
    padding: 30px;
    Margin: 10px;
    background-color: rgba(0, 132, 248, 0.356);
}


main {
    margin-top: -3vh; 
    padding: 30px;
    Margin: 10px;
    color: rgb(99, 99, 99);
}


footer {
     display: flex;
    justify-content: center; 
    padding: 30px;
    Margin: 10px;
}